.env
# Cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
# Other unnecessary files
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
*.project
*.pydevproject
*.classpath
*.settings/
*.metadata/
*.recommenders/
*.cproject
*.launch
*.externalToolBuilders/
*.buildpath




data/individual_solutions.json
data/packaged_solutions.json
data/shl_assessments.json
data/shl_assessments_solutions.json
data/individual_solutions.json
data/shl_assessments_solutions.json
data/azure_assessments.json
data/azure_assessments_solutions.json
data/shl_firecrawl_data.json
data/test_extraction_results.json
data\debug_individual_1744009878.html
data\debug_individual_1744021481.html
data\azure_openai_info.pkl
data\processed_assessments.json
data/debug_individual_1744009878.html
data/debug_individual_1744021481.html
data/processed_assessments.json



/MongoData