.env
# Cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
# Other unnecessary files
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
*.project
*.pydevproject
*.classpath
*.settings/
*.metadata/
*.recommenders/
*.cproject
*.launch
*.externalToolBuilders/
*.buildpath



data/
data/individual_solutions.json
data/packaged_solutions.json
data/shl_assessments.json
data/shl_assessments_solutions.json
data/individual_solutions.json
